{% extends 'main.html.twig' %}

{% block title %} Select Main Image for {{ game.name }} {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/seller/manage-game-images.css') }}" media="all" />
{% endblock %}

{% block body %}

	<div class="manage-images common-block">
		<div class="select-main-image-header">
			<h3>Select Main Image {{ game.name }}</h3>
		</div>
		<div class="current-main-image"><img class="main-image" src="{{ mainImage }}" alt="{{ mainImage }}" /></div>
		<div class="images">
			{{ form_start(form) }}
				{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
		
	</div>
{% endblock %}