{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}

{% extends 'admin/base.html.twig' %}

{% block title %} LogIn Admin Area {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin/login-registration.css') }}" media="all" />
{% endblock %}

{% block content %}
<div class="login common-block btn-style-href">
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<form action="{{ path('admin_login') }}" method="post">
	    <label for="username">Username:</label>
	    <input placeholder="Login" type="text" id="username" name="_username" value="{{ last_username }}" />
	
	    <label for="password">Password:</label>
	    <input placeholder="Password" type="password" id="password" name="_password" />
	
	    {#
	        If you want to control the URL the user
	        is redirected to on success (more details below)
	        <input type="hidden" name="_target_path" value="/account" />
	    #}
	
	    <button type="submit">login</button>
	</form>
</div>
{% endblock %}